h2{
    font-size: 30px;
    margin-top: 20px;
}

li{
    margin: 20px 0px;
    font-size: 25px;
    list-style-type: none;
}
input[type=radio]{
    margin-right: 10px;
}
.nextButton{
    border: none;
    padding: 20px 30px;
    background-color: #84ff9f;
}
.backButton{
    border: none;
    padding: 20px 30px;
    background-color: #edff8f;
}

@media screen and (max-width:990px){
    .nextButton{
        font-size: 20px;
        font-weight: bold;
    }
    .backButton{
        font-size: 20px;
        font-weight: bold;
    }  
}
@media screen and (max-width:600px){
    .nextButton{
        font-size: 20px;
        font-weight: bold;
    }
    .backButton{
        font-size: 20px;
        font-weight: bold;
    }   
}
